@import 'src/assets/variables';
@import 'src/assets/mixins';

.map-container {
  min-width: 350px;
  width: 100%;
  min-height: 350px;
  height: 100%;
  overflow: hidden;
  z-index: 1;

  agm-map {
    width: 100%;
    height: 100%;
  }

  #map-input-container {
    @include corner-border-radius(3px);
    position: absolute;
    top: 25px;
    left: 10px;
    min-width: 250px;
    width: 25%;
    max-width: 350px;
    min-height: 350px !important;
    height: 50%;
    max-height: 500px;
    z-index: 2;
    background-color: $primary-light;
    padding: 20px 10px;
    overflow: auto;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.25);

    .loader-container {
      @include position-absolute-center(0);
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: rgba(0, 0, 0, 0.25);
      z-index: 9999;
      position: absolute;

      #loader-message {
        @include position-absolute-center(0);
        z-index: 9999;
        position: absolute;
        color: white;
        margin: auto;
        top: 25px !important;
        text-align: center;
        height: max-content;
      }
    }

    form {
      .form-label {
        font-weight: bold;
        padding-left: 5px;
      }

      .response-messages {
        height: 60px;

        .status-text {
          margin: 5px;
        }

        .status-text-red {
          color: red;
        }

        .status-text-black {
          color: black;
        }
      }

      .btn-container {
        display: flex;

        .btn {
          @include corner-border-radius(20px);
          margin: 5px;
          padding: 5px;
          flex: 1;
        }

        .btn:disabled {
          cursor: not-allowed;
        }
      }
    }

    .hide-btn {
      right: 10px;
      bottom: 10px;
      position: absolute;
      background-color: transparent;
      text-align: right;
      outline: none !important;
      padding: 5px;
      box-shadow: none !important;
    }
  }

  .show-btn {
    position: absolute;
    top: 25px;
    left: 10px;
    padding: 5px;
    z-index: 2;
    background-color: transparent;
    border: none;
    outline: none !important;
    cursor: pointer;
    color: black;
  }
}